<!DOCTYPE html>
<html>
  <head>
    <title>Web</title>
    <%= favicon %>
  </head>
  <body>
    <% flash[:errors]&.each do |error_message| %>
      <div><%= error_message %></div>
    <% end %>

    <div><%= flash[:notice] %></div>

    <%= yield %>
  </body>
</html>
