$primary-color:             #1664bd;
$primary-color-highlight:   #144f94;
$secondary-color:           #aa0d5e;
$secondary-color-highlight: #800a47;
 
$highlight-color:       #a16;
$success-color:         #8db87c;
$error-color:           #c70101;
$error-color-highlight: #940000;
 
$pale-green:            #d4e8c1;
$grey:                  #e4e5e6;
$mid-grey:              #757678;
$dark-grey:             #333;
$dark-blue:             #1f2a4c;
